* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 h1{
   padding: 5px;
 }

 .logo img{
   width: 150px;
   height: 150px;
}

.header{
   background-color: white;
   width: 100%;
}

i{
   width: 100px;
   position: relative;
   left: 1000px;
   top: -100px;
   color: black;
   font-size: 25px;
}

 form {
   margin: auto;
    color: black;
    float: left;
    margin-left: 10px;
}

p{
   padding: 5px;
}

input{
    width: 100%;
    margin-bottom: 5px;
    padding: 7px 100px;
    box-sizing: border-box;
    font-size: 17px;
}


#boton{
    background: red;
    color:white;
    padding:10px;
}

#boton:hover{
    cursor: pointer;
}

@media (max-width:480px){
    form{
        width: 100px;
    }
}

 .pie-pagina{
    width: 100%;
    background-color:darkgray;
    background-size: cover;
 }
 
 .pie-pagina .grupo1 {
    width: 100%;
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
 }
 
 .pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .pie-pagina .grupo1 .box figure img {
    width: 130px;
    float: left;
 }
 
 .pie-pagina .grupo1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
 }
 
 .pie-pagina .grupo1 .box {
    margin-bottom: -30px;
    list-style: none;
    color: aliceblue;
 }
 
 .pie-pagina .grupo1 .box p {
    color: aliceblue;
    margin-bottom: 10px;
 }
 
 .pie-pagina .grupo1 .red-social li {
    margin-right: 1rem;
 }
 
 .pie-pagina .grupo1 .red-social ul{
    display: flex;
    flex-flow: wrap;
 }
 
 .pie-pagina .grupo1 .red-social img {
    width: 35px;
 }
 
 .pie-pagina .grupo2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: aliceblue;
 }
 
 .pie-pagina .grupo2 small {
    font-size: 15px;
 }
 
 @media screen and (mas-width:800px){
    .pie-pagina .grupo1{
       width: 90px;
       grid-template-columns: repeat(1,1fr);
       grid-gap: 30px;
       padding: 35px 0px;
    }
 }